div.outside {
    width: 100%;
    margin: 0 auto;
}
.log-title {
    text-align: center;
    margin: 32px auto;
}
.log-title p {
    font-weight:bold; 
    font-size: 26px; 
    line-height: 1.2em;
}

div.log table#log-frame {
    width: 100%;
    height: auto;
    margin: 0 auto;
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    table-layout: fixed;
    word-break: normal;
}

div.log table#log-frame tr:hover {
    background-color: unset ;
}

.key, .value{
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    height: 3em;
}
.key{
    font-weight: bold;
    background-color: #eee;
}
.content{
    padding: 16px;
    /* margin-top: -1px; */
    border: 1px solid rgb(0, 0, 0);
    border-top: none;
}

.copyright {
    margin: 16px auto;
    text-align: center;
}

.copyright p {
    margin: 0;
    font-size: 16px;
   /** font-family: "Times New Roman"; **/
}