<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <title>${task} | ${subject} | ${title}</title>
    <link rel="stylesheet" href="${markdown_css}" />
    <link rel="stylesheet" href="${custom_css}" />
    <link rel="stylesheet" href="${template_css}" />
    <link rel="stylesheet" href="${code_highlight_css}" />
</head>

<body>
    <div class="outside">
        <div class="log-title">
            <p>${title}(${role})</p>
        </div>
        <div class="log">
            <table id="log-frame" class="log-frame">
                <tr>
                    <td class="date-key">日期</td>
                    <td class="date-value">${date}</td>
                    <td class="author-key">教练姓名</td>
                    <td class="author-value">${author}</td>
                </tr>
                <tr>
                    <td class="task-key">训练任务</td>
                    <td colspan="3" class="task-value">${task}</td>
                </tr>
            </table>
        </div>
        <div class="content">
            ${content}
        </div>
        <div class="copyright">
            <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="知识共享许可协议" style="border-width:0" src="https://licensebuttons.net/l/by-nc-nd/4.0/88x31.png" /></a><br />本作品采用<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">知识共享署名-非商业性使用-禁止演绎 4.0 国际许可协议</a>进行许可。</p>
            <p>This work &copy; 2021 by <a href="https://github.com/hdaojin">hdaojin</a> <a href="http://itnsa.cn">itnsa</a> </p>
            <p><code>Python</code> powered</p>
        </div>
    </div>
</body>

</html>